/**************************************************************************************************
utils
**************************************************************************************************/
/**************************************************************************************************
FONTS
**************************************************************************************************/
@import url(http://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);
@font-face {
  font-family: Fat-Free;
  src: url("fonts/Fat-Free.eot");
}
@font-face {
  font-family: Fat-Free;
  src: url("fonts/Fat-Free.ttf");
}
/**************************************************************************************************
GRID
**************************************************************************************************/
/**************************************************************************************************
TEXTBOX
**************************************************************************************************/
/**************************************************************************************************
BANNER
**************************************************************************************************/
/**************************************************************************************************
MENU
**************************************************************************************************/
/**************************************************************************************************
COLORS
**************************************************************************************************/
/**************************************************************************************************
defaults
**************************************************************************************************/
body {
  font-family: "Dosis", sans-serif;
  font-size: 14pt;
  font-weight: 300;
  background-color: #1A1A1A;
  color: #ffffff;
}

h2 {
  font-family: "Dosis", sans-serif;
}

h3 {
  font-family: "Dosis", sans-serif;
}

/**************************************************************************************************
rewrite foundation rules
**************************************************************************************************/
.row {
  box-sizing: border-box;
  max-width: none;
  width: 100%;
}
@media only screen and (min-width: 40.063em) {
  .row {
    width: 95%;
  }
}

.columns, column {
  padding-left: 0.46875rem;
  padding-right: 0.46875rem;
}

/**************************************************************************************************
banner
**************************************************************************************************/
.banner {
  width: 100%;
  height: 13rem;
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 40.063em) {
  .banner {
    height: 17.5rem;
  }
}
.banner h2 {
  height: 5rem;
  font-family: Fat-Free, sans-serif;
  font-size: 54pt;
  color: #ffffff;
}
@media only screen and (min-width: 40.063em) {
  .banner h2 {
    height: 9rem;
  }
}
@media only screen and (min-width: 40.063em) {
  .banner h2 {
    font-size: 74pt;
  }
}
.banner p {
  margin: 0.9375rem 0rem 0rem 0rem;
  font-size: 12pt;
}
@media only screen and (min-width: 40.063em) {
  .banner p {
    font-size: 15pt;
  }
}

/**************************************************************************************************
navigation
**************************************************************************************************/
.menu {
  z-index: 5;
  width: 100%;
  height: 3rem;
  position: absolute;
  top: 10rem;
  padding: 0.46875rem;
  background-color: rgba(0, 0, 0, 0.8);
}
@media only screen and (min-width: 40.063em) {
  .menu {
    top: 14.5rem;
  }
}
@media only screen and (min-width: 40.063em) {
  .menu {
    padding-left: 2.5%;
  }
}
.menu ul {
  margin: 0px;
}
.menu li {
  float: left;
  margin-right: 1rem;
  line-height: 2rem;
  font-family: "Dosis", sans-serif;
  font-weight: 300;
  font-size: 12pt;
}
.menu li a {
  color: #ffffff;
  font-weight: 300;
}
.menu .home {
  background-image: url("../img/kazoosh_logo_detail_white.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 0px;
}
.menu .home a {
  display: block;
  width: 90px;
}
.menu .home a span {
  visibility: hidden;
}

/**************************************************************************************************
text boxes
**************************************************************************************************/
.teaser-box {
  padding: 0.46875rem;
  background-color: #eee;
}
@media only screen and (min-width: 40.063em) {
  .teaser-box {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
}
.teaser-box p {
  font-size: 14pt;
  color: #555;
}

.description-box {
  width: 100%;
  padding: 0.46875rem;
  font-weight: 800;
  background-color: #373737;
  margin-bottom: 0.9375rem;
}
@media only screen and (min-width: 40.063em) {
  .description-box {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
}
.description-box h2 {
  color: #eee;
}
.description-box h3 {
  font-size: 14pt;
  color: #eee;
}
.description-box p {
  font-size: 14pt;
  color: #eee;
}

.content-box {
  display: block;
  margin-top: 0.9375rem;
  padding: 0.46875rem;
  background-color: transparent;
}
@media only screen and (min-width: 40.063em) {
  .content-box {
    padding-left: 2.5%;
  }
}

.footer-box {
  margin-top: 0.9375rem;
  background-color: #000;
}
.footer-box a {
  color: #3766ff;
}
.footer-box p {
  font-size: 12pt;
}
.footer-box h2 {
  padding-top: 0.46875rem;
  padding-bottom: 0.46875rem;
  font-size: 14pt;
  color: #eee;
  font-weight: 500;
}
.footer-box h3 {
  font-size: 12pt;
  margin-bottom: 0rem;
  color: #eee;
  font-weight: 300;
}

.grid-box,
.grid-box-large {
  display: block;
  height: 13em;
  overflow: hidden;
  margin-top: 1rem;
  padding-bottom: 0rem;
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
}
.grid-box .caption,
.grid-box-large .caption {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-left: 0.46875rem;
  padding-bottom: 0.9375rem;
  display: block;
}
.grid-box h3, .grid-box h4,
.grid-box-large h3,
.grid-box-large h4 {
  display: inline;
  padding: 0.2rem 0.5rem 0.4rem 0.5rem;
  border: 4px;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-size: 14pt;
  color: #ffffff;
}
.grid-box p,
.grid-box-large p {
  display: none;
  padding: 0.2rem 0.5rem 0.4rem 0.5rem;
  margin: 0.7rem 1.40625rem -0.46875rem 0;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-size: 10pt;
  color: #ffffff;
}

.grid-box:hover p,
.grid-box-large:hover p {
  display: block;
}

.enable-hover:hover {
  box-shadow: 50rem 0px 0px 0px rgba(0, 0, 0, 0.3) inset;
}

.grid-box-large {
  height: 17.5em;
}
.grid-box-large p {
  display: block;
}

.aspect-wrapper {
  position: relative;
  padding-top: 25px;
  padding-bottom: 93.75%;
  height: 0;
}

.ratio_4x3 {
  position: relative;
  padding-bottom: 125%;
}

/**************************************************************************************************
page - home
**************************************************************************************************/
.home header {
  /*p{
  	margin: $gutter 0rem 0rem 0rem;
  	font-size: 10pt;
  	@media only screen and (min-width:40.063em) {font-size: 15pt;}
  }*/
}
.home header h2 {
  			/*height: 5rem;
  			@media only screen and (min-width:40.063em) {height: 9rem;}
  */
  background-image: url("../img/kazoosh_logo_detail_white.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.home header h2 span {
  visibility: hidden;
}

/**************************************************************************************************
page - mitglieder
**************************************************************************************************/
.mitglieder .banner {
  width: 100%;
  height: 13rem;
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 40.063em) {
  .mitglieder .banner {
    height: 17.5rem;
  }
}
.mitglieder .banner h2 {
  height: 5rem;
  font-family: Fat-Free, sans-serif;
  font-size: 54pt;
  color: #ffffff;
}
@media only screen and (min-width: 40.063em) {
  .mitglieder .banner h2 {
    height: 9rem;
  }
}
@media only screen and (min-width: 40.063em) {
  .mitglieder .banner h2 {
    font-size: 74pt;
  }
}
.mitglieder .banner p {
  margin: 0.9375rem 0rem 0rem 0rem;
  font-size: 12pt;
}
@media only screen and (min-width: 40.063em) {
  .mitglieder .banner p {
    font-size: 15pt;
  }
}
.mitglieder h3, .mitglieder h4 {
  padding: 0;
  margin: 0;
  display: block;
  position: relative;
  text-align: center;
  background-color: transparent;
}
.mitglieder h3 {
  font-weight: 400;
}
.mitglieder h4 {
  font-size: 12pt;
}
.mitglieder .caption {
  height: 4rem;
}
.mitglieder .grid-box {
  height: auto;
}
.mitglieder .picture-content {
  background-size: cover;
  background-color: white;
  background-blend-mode: luminosity;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mitglieder .picture-content:hover {
  background-blend-mode: normal;
}
.mitglieder .round-frame {
  top: 15%;
  left: 10%;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

/**************************************************************************************************
page - projekte - subpages
**************************************************************************************************/
.digitaler_voyeurismus {
  background-color: #eee;
}
.digitaler_voyeurismus .row p {
  color: #000;
}

/**************************************************************************************************
page - mitglieder - subpages
**************************************************************************************************/
.brian_eschrich {
  background-color: #eee;
}
.brian_eschrich .row p {
  color: #333;
  font-size: 14pt;
}
.brian_eschrich .row .picture-content {
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.brian_eschrich .row li {
  color: #333;
  font-size: 14pt;
}

/**************************************************************************************************
HEADER ANIMATION
**************************************************************************************************/
.home .banner {
  height: 13rem;
}
@media only screen and (min-width: 40.063em) {
  .home .banner {
    height: 30rem;
  }
}
@media only screen and (min-width: 64.063em) {
  .home .banner {
    height: 40rem;
  }
}
.home .menu {
  top: 10rem;
}
@media only screen and (min-width: 40.063em) {
  .home .menu {
    top: 27rem;
  }
}
@media only screen and (min-width: 64.063em) {
  .home .menu {
    top: 37rem;
  }
}
.home header h2 {
  			/*height: 5rem;
  			@media only screen and (min-width:40.063em) {height: 9rem;}
  */
  background-image: url("../img/kazoosh_logo_detail_white.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.home header h2 span {
  visibility: hidden;
}
.home header .bg-wrapper {
  height: 13rem;
  position: absolute;
  top: 0px;
  overflow: hidden;
  z-index: 0;
  width: 100%;
}
@media only screen and (min-width: 40.063em) {
  .home header .bg-wrapper {
    height: 30rem;
  }
}
@media only screen and (min-width: 64.063em) {
  .home header .bg-wrapper {
    height: 40rem;
  }
}
.home header .bg-wrapper video {
  position: absolute;
  width: 100%;
  background-size: cover;
}
.home header .bg-wrapper .static-layer,
.home header .bg-wrapper .animation-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
}
.home header .bg-wrapper .fading {
  animation: Fading 25s ease infinite alternate;
  animation-fill-mode: both;
}
.home header .bg-wrapper .fading:nth-child(2) {
  animation-delay: -28s;
}
.home header .bg-wrapper .fading:nth-child(3) {
  animation-delay: -14s;
}
@keyframes Fading {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  81% {
    opacity: 1;
  }
  86% {
    opacity: 0.8;
  }
  91% {
    opacity: 1;
  }
  96% {
    opacity: 0.8;
  }
  98% {
    opacity: 1;
  }
}
.home header .text-wrapper {
  position: absolute;
  top: 0px;
  z-index: 1;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
