/**************************************************************************************************
utils
**************************************************************************************************/
/**************************************************************************************************
FONTS
**************************************************************************************************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
/**************************************************************************************************
GRID
**************************************************************************************************/
/**************************************************************************************************
BANNDER
**************************************************************************************************/
/**************************************************************************************************
COLORS
**************************************************************************************************/
/**************************************************************************************************
defaults
**************************************************************************************************/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 11pt;
  font-weight: 300;
  background-color: #1A1A1A;
  color: #ffffff;
}

/**************************************************************************************************
rewrite foundation rules
**************************************************************************************************/
.row {
  max-width: none;
}

/**************************************************************************************************
banner
**************************************************************************************************/
.banner {
  width: 100%;
  height: 13rem;
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 40.063em) {
  .banner {
    height: 17.5rem;
  }
}

/**************************************************************************************************
navigation
**************************************************************************************************/
.menu {
  width: 100%;
  height: 2rem;
  position: absolute;
  top: 11rem;
  background-color: rgba(0, 0, 0, 0.3);
}
@media only screen and (min-width: 40.063em) {
  .menu {
    top: 15.5rem;
  }
}
.menu li {
  float: left;
  margin-right: 1rem;
  line-height: 2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 10pt;
}
.menu li a {
  color: #ffffff;
  font-weight: 300;
}
.menu .home {
  background-image: url("../img/kazoosh_logo_white.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 9px;
}
.menu .home a {
  display: block;
  width: 60px;
}
.menu .home a span {
  visibility: hidden;
}

/**************************************************************************************************
page - home
**************************************************************************************************/
.home header h2 {
  height: 3rem;
  background-image: url("../img/kazoosh_logo_white.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
}
@media only screen and (min-width: 40.063em) {
  .home header h2 {
    height: 7rem;
  }
}
.home header h2 span {
  visibility: hidden;
}
.home header p {
  margin: 0.9375rem 0rem 0rem 0rem;
  font-size: 10pt;
}
@media only screen and (min-width: 40.063em) {
  .home header p {
    font-size: 15pt;
  }
}

/**************************************************************************************************
text boxes
**************************************************************************************************/
.content-box {
  display: block;
  margin-top: 0.9375rem;
  padding: 0.9375rem;
  background-color: rgba(0, 0, 0, 0.3);
}

.grid-box,
.grid-box-large {
  display: block;
  height: 13em;
  overflow: hidden;
  margin-top: 1rem;
  background-size: cover;
  background-color: #222;
  background-repeat: no-repeat;
}
.grid-box h3,
.grid-box-large h3 {
  margin-top: 0rem;
  margin-left: 2rem;
  padding: 0.2em;
  background-color: rgba(0, 0, 0, 0.3);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 11pt;
  color: #ffffff;
}
.grid-box p,
.grid-box-large p {
  display: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 10pt;
  color: #ffffff;
}

.grid-box:hover p {
  display: block;
}

.grid-box-large {
  height: 17.5em;
}
.grid-box-large p {
  display: block;
  position: absolute;
  bottom: 0;
  margin-left: 0.9375rem;
  margin-right: 1.875rem;
}

/*# sourceMappingURL=style.css.map */
