

/**************************************************************************************************
FONTS
**************************************************************************************************/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);


/**************************************************************************************************
GRID
**************************************************************************************************/

$screen: "only screen";
$small-range: (0em, 40em);
$medium-range: (40.063em, 64em);
$large-range: (64.063em, 90em);

$small-up: $screen;
$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})";
$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})";

$gutter: 0.9375rem;


/**************************************************************************************************
BANNDER
**************************************************************************************************/


$banner-height-small: 13rem;
$banner-height-medium: 17.5rem;


$grid-box-height-small: 13em;
$grid-box-height-large-small: 17.5em;


/**************************************************************************************************
COLORS
**************************************************************************************************/

$back-alpha: .3;