

/**************************************************************************************************
FONTS
**************************************************************************************************/
@import url(http://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);
$font-family-text: 'Dosis', sans-serif;

@font-face {
 font-family: Fat-Free;
 src: url("fonts/Fat-Free.eot"); /* EOT file for IE */
 src: url("fonts/Fat-Free.ttf") format('truetype');
}
$font-family-header: Fat-Free, sans-serif;

@font-face {
 font-family: Icons;
 src: url('fonts/foundation-icons.eot'); 
 src: url('fonts/foundation-icons.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

/**************************************************************************************************
TEMPLATES
**************************************************************************************************/
@mixin subpage-template{
	background-color: #eee;
	.teaser-box{
		@include teaser-box-subpage();
	}
	.title-box{
		@include title-box-subpage();
	}
	.footer-box{
		@include footer-style($footer-bg-color-light,$footer-link-color-light);
	}
}

/**************************************************************************************************
GRID
**************************************************************************************************/

$screen: "only screen";
$small-range: (0em, 40em);
$medium-range: (40.063em, 64em);
$large-range: (64.063em, 90em);

$small-up: $screen;
$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})";
$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})";

$gutter: 0.9375rem;

/**************************************************************************************************
TEXTBOX
**************************************************************************************************/

$textbox-padding: 0.3rem 0.7rem 0.4rem 0.7rem;

$image-aspect_1x1: 0.9375 * 100%;

@mixin title-box-subpage{
	font-weight: 800;
		h2{
			font-family: $font-family-text;
			color: #eee;
			font-size:  28pt;
			@media #{$medium-up} {font-size: 44pt;}
			-webkit-text-shadow: 0px 0px 5px 1px rgba(0,0,0,0.71);
			-moz-text-shadow: 0px 0px 5px 1px rgba(0,0,0,0.71);
			text-shadow: 0px 0px 5px 1px rgba(0,0,0,0.71);
		}
		h3{
			font-size: 12pt;
			@media #{$medium-up} {font-size: 14pt;}
			color: #eee;
		}
}

@mixin teaser-box-subpage{
		background-color: #eee;
			p{
				font-size: 14pt;
				color: #555;
			}
}

/**************************************************************************************************
BANNER
**************************************************************************************************/
@mixin banner-heigth($banner-height-small,$banner-height-large){
	height: $banner-height-small;
	@media #{$medium-up} {height: $banner-height-large;}
}

//homescreen
$banner-home-height-small: 100vh;
$banner-home-height-large: 100vh;

//menu pages 
$banner-page-height-small: 13rem;
$banner-page-height-medium: 17.5rem;

//project pages
$banner-subpage-height-small: 10rem;
$banner-subpage-height-large: 13rem;




$grid-box-height-small: 13em;
$grid-box-height-large-small: 17.5em;

/**************************************************************************************************
MENU
**************************************************************************************************/
@mixin menu-position($top-small-banner,$top-large-banner){
		top: $top-small-banner;
		@media #{$medium-up} {top: $top-large-banner;}
}

$menu-height: 3rem;



/**************************************************************************************************
FOOTER
**************************************************************************************************/
//for main pages
$footer-link-color-dark: #3766ff;
$footer-link-color-light: #008cba;

//for subpages
$footer-bg-color-dark: #000;
$footer-bg-color-light: #333;

@mixin footer-style($background-color,$link-color){
	background-color: $background-color;
	.row{
		a{
			color: $link-color;
			font-size: 10pt;
			@media #{$medium-up} {font-size: 12pt}
		}
		p{	

			font-size: 12pt;
			color: #fff;
		}
		h3{
			text-align: left;
			font-size: 10pt;
			@media #{$medium-up} {font-size: 12pt}
		}
		.contact-icon{
		  		color: $link-color;
		}
	}
	

}

/**************************************************************************************************
COLORS
**************************************************************************************************/

$back-alpha: .7;

