

/**************************************************************************************************
FONTS
**************************************************************************************************/
//alt
//@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

//Dosis Variante 1
@import url(http://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);
$font-family-text: 'Dosis', sans-serif;

@font-face {
 font-family: Fat-Free;
 src: url("fonts/Fat-Free.eot") /* EOT file for IE */
}
@font-face {
 font-family: Fat-Free;
 src: url("fonts/Fat-Free.ttf") /* TTF file for CSS3 browsers */
}
$font-family-header: Fat-Free, sans-serif;


//Cabin Variante 2
//@import url(http://fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic);
//$font-family-text: 'Cabin', sans-serif;
/**************************************************************************************************
GRID
**************************************************************************************************/

$screen: "only screen";
$small-range: (0em, 40em);
$medium-range: (40.063em, 64em);
$large-range: (64.063em, 90em);

$small-up: $screen;
$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})";
$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})";

$gutter: 0.9375rem;

/**************************************************************************************************
TEXTBOX
**************************************************************************************************/

$textbox-padding: 0.2rem 0.5rem 0.4rem 0.5rem;
$textbox-margin: 0.7rem $gutter/2*3 0-$gutter/2 0;

$image-aspect_1x1: 0.9375 * 100%;

/**************************************************************************************************
BANNER
**************************************************************************************************/

$banner-home-height-small: 13rem;
$banner-home-height-medium: 30rem;
$banner-home-height-large: 40rem;
//$banner-home-height-large: 59rem;

$banner-height-small: 13rem;
$banner-height-medium: 17.5rem;


$grid-box-height-small: 13em;
$grid-box-height-large-small: 17.5em;

/**************************************************************************************************
MENU
**************************************************************************************************/

$menu-height: 3rem;

/**************************************************************************************************
COLORS
**************************************************************************************************/

$back-alpha: .7;