
/**************************************************************************************************
defaults
**************************************************************************************************/

body {
	font-family: $font-family-text;
	font-size: 12pt;
	font-weight: 300;
	background-color: #1A1A1A;
	color: #ffffff;
}

/**************************************************************************************************
rewrite foundation rules
**************************************************************************************************/

.row{
	box-sizing: border-box;
	max-width: none;
	width: 100%;
	@media #{$medium-up} {width: 95%;}

}

.columns, column{
	padding-left: $gutter/2;
	padding-right: $gutter/2;
}

/**************************************************************************************************
banner
**************************************************************************************************/

.banner{
	width: 100%;
	height: $banner-height-small;
	@media #{$medium-up} {height: $banner-height-medium;}

	background-size: cover;
	background-repeat: no-repeat;

	h2{
		height: 5rem;
			@media #{$medium-up} {height: 9rem;}
			font-family: $font-family-header;
			font-size: 54pt;
			color: #ffffff;
			@media #{$medium-up} {
				font-size: 74pt;
			}
		}
	p{		
			margin: $gutter 0rem 0rem 0rem;
			font-size: 12pt;
			@media #{$medium-up} {font-size: 15pt;}
	}

}

/**************************************************************************************************
navigation
**************************************************************************************************/

.menu{
	width: 100%;
	height: 2rem;
	position: absolute;
	top: ($banner-height-small - 2);
	@media #{$medium-up} {top: ($banner-height-medium - 2);}

	padding: $gutter/2;
	@media #{$medium-up} {
				padding-left: 2.5%;
	}

	background-color: rgba(0, 0, 0, 0.8);



	li{
		float: left;
		margin-right: 1rem;

		line-height: 2rem;
		font-family: $font-family-text;
		font-weight: 300;
		font-size: 12pt;



		a{
			color: #ffffff;
			font-weight: 300;
		}
	}

	.home{
		//float: left;
		background-image: url('../img/kazoosh_logo_detail_white.png');
		background-size: 100%;
		background-repeat: no-repeat;
		background-position-y: 9px;

		a{
			display: block;
			width: 60px;

			span{
				visibility: hidden;
			}
		}
	}
}

/**************************************************************************************************
text boxes
**************************************************************************************************/

.content-box{	
	display: block;
	margin-top: $gutter;
	padding: $gutter/2;
	@media #{$medium-up} {
				padding-left: 2.5%;
	}

	background-color: rgba(0, 0, 0, 0);
}

.grid-box,
.grid-box-large{
	display: block;
	height: $grid-box-height-small;
	overflow: hidden;
	margin-top: 1rem;
	padding-bottom: 0rem;

	background-size: cover;
	background-color: rgba(0, 0, 0, 0);
	background-repeat: no-repeat;

	.caption{
		width: 100%;
		position: absolute;
		bottom: 0;
		padding-left: $gutter/2;
		padding-bottom: $gutter;
		display: block;
	}

	h3, h4{
		display: inline;
		padding: $textbox-padding;
		border: 4px;
		
		background-color: rgba(0, 0, 0, $back-alpha);

		font-family: $font-family-text;
		font-weight: 400;
		font-size: 14pt;
		color: #ffffff;
		//margin-left: $gutter/2;
	}	
	p{
		display: none;
		padding: $textbox-padding;
		margin: $textbox-margin;

		background-color: rgba(0, 0, 0, $back-alpha);
		font-family: $font-family-text;
		font-weight: 400;
		font-size: 10pt;
		color: #ffffff;

		//margin: 0.7rem $gutter/2 1rem $gutter*2;

	}
}

.grid-box:hover,
.grid-box-large:hover{
	//transition: opacity 0.35s, transform 0.35s;
	//opacity: 0.4;
	p{
		display: block;
	}
	
} 

.enable-hover:hover{
	box-shadow:50rem 0px 0px 0px rgba(0, 0, 0, 0.3) inset;
	//background-color: rgba(0, 0, 0, $back-alpha);
}


.grid-box-large{
	height: $grid-box-height-large-small;

	p{
		display: block;
	}
}
.aspect-wrapper{
	position: relative;
	padding-top: 25px;
	padding-bottom: $image-aspect_1x1;
	height: 0;
}

.ratio_4x3{
	position: relative;
  	padding-bottom: $image-aspect_1x1 * 4 / 3;
}


/**************************************************************************************************
page - home
**************************************************************************************************/

.home{

	header{
		h2{
			/*height: 5rem;
			@media #{$medium-up} {height: 9rem;}
*/
			background-image: url('../img/kazoosh_logo_detail_white.png');
			background-repeat: no-repeat;
			background-size: auto 100%;

			span{
				visibility: hidden;
			}


		}
		/*p{
			margin: $gutter 0rem 0rem 0rem;
			font-size: 10pt;
			@media #{$medium-up} {font-size: 15pt;}
		}*/
	}
}

/**************************************************************************************************
page - mitglieder
**************************************************************************************************/

.mitglieder{
	h3,h4{
		padding: 0;
		margin: 0;
		display: block;
		position: relative;
		text-align: center;
		background-color: rgba(0,0,0,0);
	}
	h3{
		font-weight: 400;
	}
	h4{
		font-size: 12pt;
		//@media #{$medium-up}{font-size: 14pt;}
	}

	.caption{
		height: 4rem;
	}
	.grid-box{
		height: auto;
	}

	.picture-content{
		background-size: cover;
		background-color: #222;
		background-repeat: no-repeat;
		position:  absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.round-frame{
		top: 15%;
		left: 10%;
		width: 80%;
		height: 80%;
		border-radius: 50%;
	}
}