
/**************************************************************************************************
defaults
**************************************************************************************************/

body {
	font-family: $font-family-text;
	font-size: 14pt;
	font-weight: 300;
	background-color: #1A1A1A;
	color: #ffffff;
}

h2 {
	font-family: $font-family-text;
}
h3 {
	font-family: $font-family-text;
}

/**************************************************************************************************
rewrite foundation rules
**************************************************************************************************/

.row{
	box-sizing: border-box;
	max-width: none;
	width: 100%;
	@media #{$medium-up} {width: 95%;}

}

.columns, column{
	padding-left: $gutter/2;
	padding-right: $gutter/2;
}

/**************************************************************************************************
banner
**************************************************************************************************/

.banner{
	width: 100%;
	@include banner-heigth($banner-page-height-small,$banner-page-height-medium);
	background-size: cover;
	background-repeat: no-repeat;

	h2{
		height: 5rem;
		@media #{$medium-up} {height: 9rem;}
		font-family: $font-family-header;
		font-size: 54pt;
		color: #ffffff;
		@media #{$medium-up} {
			font-size: 74pt;
		}
	}
	p{		
		margin: $gutter 0rem 0rem 0rem;
		font-size: 12pt;
		@media #{$medium-up} {font-size: 15pt;}
	}

}

/**************************************************************************************************
navigation
**************************************************************************************************/

.menu{
	z-index: 5;
	width: 100%;
	height: $menu-height;
	position: absolute;
	@include menu-position($banner-page-height-small - 3,$banner-page-height-medium - 3);
	
	padding: $gutter/2;
	@media #{$medium-up} {
		padding-left: 2.5%;
	}

	background-color: rgba(0, 0, 0, 0.8);

	ul{
		margin: 0px;
	}

	li{
		float: left;
		margin-right: 1rem;

		line-height: 2rem;
		font-family: $font-family-text;
		font-weight: 300;

		font-size: 10pt;
		@media #{$medium-up}{font-size: 12pt;}


		a{
			color: #ffffff;
			font-weight: 300;
		}
	}

	.home{
		//float: left;
		background-image: url('../img/kazoosh_logo_detail_white.png');
		background-size: 100%;
		background-repeat: no-repeat;
		background-position-y: 0px;

		a{
			display: block;
			width: 70px;
			@media #{$medium-up}{width: 90px;}

			span{
				visibility: hidden;
			}
		}
	}
}

/**************************************************************************************************
text boxes
**************************************************************************************************/

.teaser-box{
		padding-top: $gutter;
		background-color: #eee;

		p{
			font-size: 14pt;
			color: #555;
		}
	}

	.description-box{
		//position: absolute;
		//top: $menu-height;
		width: 100%;
		padding: $gutter/2;
		@media #{$medium-up} {
			padding-left: 2.5%;
			padding-right: 2.5%;
		}
		font-weight: 800;
		background-color: #373737;
		margin-bottom: $gutter;
		//background-color: #eee;

		h2{
			color: #eee;
		}
		h3{
			font-size: 14pt;
			color: #eee;
		}
		p{
			font-size: 14pt;
			//color: #555;
			color: #eee;
		}
	}

	.title-box{	
		display: block;
		margin-top: $gutter;
		padding: $gutter/2;
		@media #{$medium-up} {
			padding-left: 2.5%;
		}

		background-color: rgba(0, 0, 0, 0);
	}

	.footer-box{
		@include footer-style($footer-bg-color-dark,$footer-link-color-dark);
		margin-top: $gutter;
	
	h2{
		padding-top: $gutter/2;
		padding-bottom: $gutter/2;
		font-size: 14pt;
		color: #eee;
		font-weight: 500;
	}
	h3{
		font-size: 12pt;
		margin-bottom: 0rem;
		color: #eee;
		font-weight: 300;
	}
	.contact-icon{
		display: inline-block;
		text-align: center;
		border-radius: 0.5rem;
		width: 1.7rem;
		height: 1.7rem;

		font-family: Icons;
		font-size: 20pt; 
		background-color: rgba(0,0,0,0);
	}
}

.grid-box,
.grid-box-large{
	display: block;
	height: $grid-box-height-small;
	overflow: hidden;
	margin-top: 1rem;
	padding-bottom: 0rem;

	background-size: cover;
	background-color: rgba(0, 0, 0, 0);
	background-repeat: no-repeat;

	.caption{
		width: 100%;
		position: absolute;
		bottom: 0;
		padding-left: 0;
		//padding-bottom: 0;
		//padding-left: $gutter/2;
		//padding-bottom: 0.44rem;
		//display: block;
	}

	h3, h4{
		display: inline-block;
		padding: $textbox-padding;
		margin-bottom: 0;
		
		background-color: rgba(0, 0, 0, $back-alpha);

		font-family: $font-family-text;
		font-weight: 400;
		font-size: 14pt;
		color: #ffffff;
	}	
	p{
		display: none;
		padding: $textbox-padding;
		margin-right: $gutter;
		margin-bottom: 0;

		background-color: rgba(0, 0, 0, $back-alpha);
		font-family: $font-family-text;
		font-weight: 400;
		font-size: 10pt;
		color: #ffffff;

		//margin: 0.7rem $gutter/2 1rem $gutter*2;

	}
}

.grid-box:hover,
.grid-box-large:hover{
	//transition: opacity 0.35s, transform 0.35s;
	//opacity: 0.4;
	p{
		display: block;
	}
	
} 

.enable-hover:hover{
	box-shadow:9999rem 0px 0px 0px rgba(0, 0, 0, 0.3) inset;
}


.grid-box-large{
	height: $grid-box-height-large-small;

	p{
		display: block;
	}
}
.aspect-wrapper{
	position: relative;
	padding-top: 25px;
	padding-bottom: $image-aspect_1x1;
	height: 0;
}

.ratio_3x4{
	position: relative;
	padding-bottom: $image-aspect_1x1 * 4 / 3;
}

.ratio_16x9{
	position: relative;
	padding-bottom: $image-aspect_1x1 * 9 / 16;
}

.picture-content{
	background-size: cover;
	background-repeat: no-repeat;
	position:  absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/**************************************************************************************************
ICONS
**************************************************************************************************/


.contact-icon{
	display: inline-block;
	text-align: center;
	border-radius: 0.5rem;
	width: 2.5rem;
	height: 2.5rem;

	font-family: Icons;
	font-size: 22pt; 
	background-color: #008cba;
	color: #fff;
}


/**************************************************************************************************
page - home
**************************************************************************************************/

.home{

	header{
		h2{
			/*height: 5rem;
			@media #{$medium-up} {height: 9rem;}
*/
background-image: url('../img/kazoosh_logo_detail_white.png');
background-repeat: no-repeat;
background-size: auto 100%;

span{
	visibility: hidden;
}

}
}
}

/**************************************************************************************************
page - mitglieder
**************************************************************************************************/

.mitglieder{

	h3,h4{
		padding: 0;
		margin: 0;
		display: block;
		position: relative;
		text-align: center;
		background-color: rgba(0,0,0,0);
	}
	h3{
		font-weight: 400;
	}
	h4{
		font-size: 12pt;
		//@media #{$medium-up}{font-size: 14pt;}
	}

	.caption{
		height: 4rem;
	}
	.grid-box{
		height: auto;
	}

	.picture-content{
		background-size: cover;
		background-color: rgba(255, 255, 255, 1);
		background-blend-mode: luminosity;
		background-repeat: no-repeat;
		position:  absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.picture-content:hover{
		background-blend-mode: normal;
	}

	.round-frame{
		top: 15%;
		left: 10%;
		width: 80%;
		height: 80%;
		border-radius: 50%;
	}
}

/**************************************************************************************************
page - kontakt
**************************************************************************************************/


/**************************************************************************************************
page - projekte - subpages
**************************************************************************************************/
.workshops_default,
.projekte_default{
	@include subpage-template();

	.banner{
		@include banner-heigth($banner-subpage-height-small,$banner-subpage-height-large);
		background-color: rgba(50, 50, 50, .7);
		background-blend-mode: overlay;
	}
	.menu{
		@include menu-position($banner-subpage-height-small - 3,$banner-subpage-height-large - 3);
	}
	
	.row{
		p{
			color: #222;
		}
	}	
		.swipebox-container{
			width: 100%;
			height: 20rem;
			background-size: cover;
			background-repeat: no-repeat;
		}
		h4{
			font-family: $font-family-text;
			font-weight: 300;
			font-size: 18pt;
			margin-bottom: 3*$gutter;
			color: #333;
		}

		.info-box{
		//background-color: #ccc;
		border-radius: 0.2rem;
		border-color: #ccc;

		h5{
		//color: #fff;
		font-family: $font-family-text;
		font-weight: 400;
		font-size: 18pt;
		color: #008cba;
	}
	h6{
		font-family: $font-family-text;
		font-weight: 400;
		color: #555;
	}
	p{
		color: #333;
		font-weight: 400;
	}

	ul{
		margin: 0;
		color: #333;
		li{
			color: #333;
		}
	}
}
}

/**************************************************************************************************
page - mitglieder - subpages
**************************************************************************************************/
.mitglieder_default{
	@include subpage-template();
	
	h3{
		text-align: left;
	}
	.banner{
		@include banner-heigth($banner-subpage-height-small,$banner-subpage-height-large);
		background-color: rgba(50, 50, 50, .7);
		background-blend-mode: overlay;
	}
	.menu{
		@include menu-position($banner-subpage-height-small - 3,$banner-subpage-height-large - 3);
	}

	.row{
		margin-top: $gutter;
		p{
			color: #333;
			font-size: 14pt;
		}
		.picture-content{
			background-size: cover;
			//background-color: rgba(255, 255, 255, 1);
			//background-blend-mode: luminosity;
			background-repeat: no-repeat;
			position:  absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		li{
			color: #333;
			font-size: 14pt;
		}
	}

	.interest-label{
		display: inline-block;
		padding: 0.3rem 0.5rem 0.4rem 0.5rem;
		margin-right: 0.3rem;
		margin-bottom: 0.4rem;
		border-radius: 0.5rem;

	  		//background-color: #373737;
	  		background-color: #666;
	  		color: #fff;
	  	}
	 .picture-content{
		background-blend-mode: normal;

	}
}