
/**************************************************************************************************
defaults
**************************************************************************************************/

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 11pt;
	font-weight: 300;
	background-color: #1A1A1A;
	color: #ffffff;
}

/**************************************************************************************************
rewrite foundation rules
**************************************************************************************************/

.row{
	max-width: none;	
}

/**************************************************************************************************
banner
**************************************************************************************************/

.banner{
	width: 100%;
	height: $banner-height-small;
	@media #{$medium-up} {height: $banner-height-medium;}

	background-size: cover;
	background-repeat: no-repeat;
}

/**************************************************************************************************
navigation
**************************************************************************************************/

.menu{
	width: 100%;
	height: 2rem;
	position: absolute;
	top: ($banner-height-small - 2);
	@media #{$medium-up} {top: ($banner-height-medium - 2);}

	background-color: rgba(0, 0, 0, $back-alpha);

	li{
		float: left;
		margin-right: 1rem;

		line-height: 2rem;
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		font-size: 10pt;

		a{
			color: #ffffff;
			font-weight: 300;
		}
	}

	.home{
		background-image: url('../img/kazoosh_logo_white.png');
		background-size: 100%;
		background-repeat: no-repeat;
		background-position-y: 9px;

		a{
			display: block;
			width: 60px;

			span{
				visibility: hidden;
			}
		}
	}
}

/**************************************************************************************************
page - home
**************************************************************************************************/

.home{

	header{
		h2{
			height: 3rem;
			@media #{$medium-up} {height: 7rem;}

			background-image: url('../img/kazoosh_logo_white.png');
			background-repeat: no-repeat;
			background-size: auto 100%;

			span{
				visibility: hidden;
			}
		}
		p{
			margin: $gutter/2 0rem 0rem 0rem;
			font-size: 10pt;
			@media #{$medium-up} {font-size: 15pt;}
		}
	}
}

/**************************************************************************************************
text boxes
**************************************************************************************************/

.content-box{	
	display: block;
	margin-top: $gutter/2;
	padding: $gutter/2;

	background-color: rgba(0, 0, 0, $back-alpha);
}

.grid-box,
.grid-box-large{
	display: block;
	height: $grid-box-height-small;
	overflow: hidden;
	margin-top: 1rem;

	background-size: cover;
	background-color: #222;
	background-repeat: no-repeat;

	h3, h4{
		margin: 0rem 0rem 0rem 2rem;
		padding: 0.2em;

		background-color: rgba(0, 0, 0, $back-alpha);

		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		font-size: 11pt;
		color: #ffffff;
	}
	
	p{
		display: none;

		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		font-size: 10pt;
		color: #ffffff;
	}
}

.grid-box:hover p{
		display: block;
}

.grid-box-large{
	height: $grid-box-height-large-small;

	p{
		display: block;
		position: absolute;
		bottom: 0;

		margin-left: $gutter/2;
		margin-right: $gutter;
	}
}