# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# bower dependency directory (defined in .bowerrc)
public_html/lib

# gernerated content json files
public_html/content

# copied images
public_html/img

# node dependency directory
node_modules

# sass
.sass-cache/

# mac
.DS_Store