# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# bower dependency directory (defined in .bowerrc)
public_html/lib

# node dependency directory
node_modules

# mac
.DS_Store