<header class="banner" style="background-image: url('{{content.images[0]}}');">
	<!--h2>{{content.title}}</h2>

	<div>{{content.teaser}}</div-->
</header>

<div class = "description-box">
	<a ui-sref="content({path: content.path})"><h3>Projekte</h3></a>
	<h2>{{content.title}}</h2>
</div>

<ul class="row">
	<li class="small-12 medium-12 large-12 columns end">
			<slick infinite="true" 
				dots="true"  
				variableWidth = "true"
				mobileFirst="true"
				slides-to-show="1" 
				slides-to-scroll="1" init-onload=true data="content.images">
			<div ng-repeat="image in content.images | limitTo : -(content.images.length-1)">
				<img ng-src="{{image}}" />
			</div>
		</div>
	</li>
</ul>
<!--div class="your-class">
    <div>your content</div>
    <div>your content</div>
    <div>your content</div>
  </div-->

<!--script type="text/javascript">
    $(document).ready(function(){
      $('.your-class').slick({
  dots: true,
  centerMode: true,
  focusOnSelect: true
});
    });
  </script-->



<!--old -->
<!--header class="banner" style="background-image: url('{{content.images[0]}}');">
	<h2>{{content.title}}</h2>

	<div>{{content.teaser}}</div>
</header>

<h2>Projekt</h2>

<h3>{{content.title}}</h3>
<div ng-bind-html="content.html"></div>

<div class="gallery row">
	<div ng-repeat="image in content.images | limitTo : -(content.images.length-1)" class="small-12 medium-6 large-3 end
		columns" style="height: 12rem; overflow: hidden; margin-bottom: 1rem">
		<img ng-src="{{image}}" />
	</div>
</div-->