<header class="banner" style="background-image: url('{{content.images[1]}}');">
	<!--h2>{{content.title}}</h2>

	<div>{{content.teaser}}</div-->
</header>

<div class = "description-box">
	<a ui-sref="content({path: content.path})"><h3>Köpfe</h3></a>
	<h2>{{content.firstname}} {{content.lastname}}</h2>
</div>

<div class="row">
		<div class="small-12 medium-8 large-9 columns end">
			<p ng-bind-html="content.html"></p>
			<h3>Interessen</h3>
			<p>
				<span ng-repeat="interest in content.interests" class="interest-label">{{interest}}</span>
			</p>
			
			<h3>Mitarbeit in KAZOOSH!-Projekten</h3>
			<p>Hier kommen Thumbnails</p>
		</div>
		<div class="small-12 medium-4 large-3 columns end">
			<div class="aspect-wrapper ratio_4x3">
				<div class="picture-content" style="background-image: url('{{content.images[0]}}');">	
				</div>
			</div>
			<h3>{{content.firstname}} {{content.lastname}}</h3>
			<p>
			<!-- how to automate ? -->
				<a href="{{content.email}}"><span class="contact-icon">&#xf16d;</span></a>
				<a href="{{content.homepage}}"><span class="contact-icon">&#xf15a;</span></a>
				<a href="{{content.github}}"><span class="contact-icon">&#xf1c9;</span></a>
				<a href="{{content.vimeo}}"><span class="contact-icon">&#xf1e5;</span></a>
			</p>

		</div>
	</div>


