<!-- using movie, currently fails -->
<!--header class="banner row">

	<div class="bg-wrapper">
		<video autoplay loop poster="{{content.images[0]}}">
			<source src="{{content.videos[0]}}" type="video/mp4">
		</video>
	</div>
	<div class="text-wrapper">
		<div class="large-12 columns">
			<div class="content-box">
				<h2><span>{{content.title}}</span></h2>
				<p>{{content.teaser}}</p>
			</div>
		</div>
	</div>

</header-->

<!--using css animation -->
<header class="banner row" >
	<div class="bg-wrapper">
		<div class="static-layer" style="background-image: url('{{content.images[0]}}');"/>
		<div class="animation-layer fading" style="background-image: url('{{content.images[1]}}');"/>
		<div class="animation-layer fading" style="background-image: url('{{content.images[2]}}');"/>
		<div class="animation-layer fading" style="background-image: url('{{content.images[3]}}');"/>
		
	</div>
		<!--div class="large-12 columns"-->
			<div class="title-box">
				<h2><span>{{content.title}}</span></h2>
				<p>{{content.teaser}}</p>
			<!--/div-->
	</div>
</header>

<div class="teaser-box">
	<ul class="row">
			<li class="small-12 medium-12 large-12 columns end">
				<div ng-bind-html="content.html"/>
			</li>
	</ul>
</div>

<article>
	<ul class="row">
		<li ng-repeat="content in featured | limitTo : 2" class="small-12 medium-12 large-6 columns">
			<a ui-sref="content({path: content.path})" class="grid-box-large enable-hover" style="background-image: url('{{content.images[0]}}');">
				<div class="caption">
					<h3>{{content.title}}</h3>
					<p>
						{{content.teaser}}
					</p>
				</div>
			</a>
		</li>
	</ul>

	<ul class="row">
		<li ng-repeat="content in featured | limitTo : 8" class="small-12 medium-6 large-3 columns end">
			<a ui-sref="content({path: content.path})" class="grid-box enable-hover" style="background-image: url('{{content.images[0]}}');">
				<div class="caption">
					<h3><span>{{content.title}}</span></h3>
					<p>
						{{content.teaser}}
					</p>
				</div>
			</a>
		</li>
	</ul>

</article>